<div class="objecttitle">{{object.plurallabel|tc}}</div>

    <h2 class="item-heading"><span class="glyphicon glyphicon-{{object.icon}}"></span> {{ item.name }} </h2>

<div class="content-container">

    <a href="#/app/{{object.name}}">&larr; {{'back to list'|lng}}</a> |
    <a href="" class="feed-viewtoggle" ng-click="showfeed = !showfeed">
        <icon s="comment"></icon>
        <span ng-show="!showfeed">Show</span><span ng-show="showfeed">Hide</span> feed
    </a>

    <div class="socialfeed clearfix" ng-include src="'teamview/common/common_objectfeed.html'"></div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix text-center">
            <span class="pull-left">Details</span>

            <a href="#{{apppath}}/app/{{object.name}}/addnew" class="btn btn-default btn-xs">{{'edit'|lng|tc}}</a>
            <a href="#{{apppath}}/app/{{object.name}}/addnew" class="btn btn-default btn-xs">{{'new'|lng|tc}} {{object.label}}</a>
        </div>
        <div class="panel-content">

    <div class="row">
        <div class="col-md-6">
            <div class="detailpane">
            <table class="table">
                <tr ng-repeat="field in filledlayout.topleft">
                    <th>{{field.name}}</th>
                    <td>{{field.value}}</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="detailpane">
            <table class="table">
                <tr ng-repeat="field in filledlayout.topright">
                    <th>{{field.name}}</th>
                    <td>{{field.value}}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="detailpane">
            <table class="table">
                <tr ng-repeat="field in filledlayout.detailleft">
                    <th>{{field.name}}</th>
                    <td>{{field.value}}</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="detailpane">
            <table class="table">
                <tr ng-repeat="field in filledlayout.detailright">
                    <th>{{field.name}}</th>
                    <td>{{field.value}}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>

    </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix text-center">
            <span class="pull-left">Change history</span>
        </div>
        <div class="panel-content">
        <table class="table">
                <tr><th>2015-01-015</th><td><strong>Wouter</strong> changed <strong>Stage</strong> from <strong>oldvalue</strong> to <strong>newvalue</strong>.</td></tr>
                <tr><th>2015-01-015</th><td>asdf asdf adf</td></tr>
                <tr><th>2015-01-015</th><td>asdf asdf adf</td></tr>
                <tr><th>2015-01-015</th><td>asdf asdf adf</td></tr>
            </table>
        </div>
</div>
