<a href="#app/{{object.pluralname}}/addnew" class="pull-right btn btn-danger">+ New {{object.name}}</a>

<div class="content-container">

    <div class="objecttitle">{{object.name}}</div>
    <h2 class="item-heading"><span class="glyphicon glyphicon-{{object.icon}}"></span> {{ item.name }} </h2>
    <a href="#/app/{{object.name}}">&larr; {{'back to list'|lng}}</a>

    <div class="panel panel-default">
        <div class="panel-heading clearfix text-center">
            <span class="pull-left">Details</span>

            <a href="#/app/{{object.name}}/addnew" class="btn btn-default btn-xs">{{'edit'|lng|tc}}</a>
            <a href="#/app/{{object.name}}/addnew" class="btn btn-default btn-xs">{{'new'|lng|tc}} {{object.label}}</a>
        </div>
        <div class="panel-content">

    <div class="row">
        <div class="col-md-6">
            <div class="detailpane">
            <table class="table">
                <tr ng-repeat="field in filledlayout.topleft">
                    <th>{{field.name}}</th>
                    <td>{{field.value}}</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="detailpane">
            <table class="table">
                <tr ng-repeat="field in filledlayout.topright">
                    <th>{{field.name}}</th>
                    <td>{{field.value}}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="detailpane">
            <table class="table">
                <tr ng-repeat="field in filledlayout.detailleft">
                    <th>{{field.name}}</th>
                    <td>{{field.value}}</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="detailpane">
            <table class="table">
                <tr ng-repeat="field in filledlayout.detailright">
                    <th>{{field.name}}</th>
                    <td>{{field.value}}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>

    </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix text-center">
            <span class="pull-left">Details</span>
        </div>
        <div class="panel-content">
        <table class="table">
                <tr><th>2015-01-015</th><td>asdf asdf adf</td></tr>
                <tr><th>2015-01-015</th><td>asdf asdf adf</td></tr>
                <tr><th>2015-01-015</th><td>asdf asdf adf</td></tr>
                <tr><th>2015-01-015</th><td>asdf asdf adf</td></tr>
            </table>
        </div>
</div>
