<div class="objecttitle">{{object.plurallabel}}</div>

<div class="dropdown">
  <h2 class="dropdown-toggle pull-left" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <span class="glyphicon glyphicon-{{object.icon}}"></span> {{view.label}}
    <span class="caret"></span>
  </h2>

  <div class="viewlinks pull-left">
    <a href="#app/{{object.name}}/{{object.view.name}}/edit">Edit</a> |
    <a href="#app/{{object.name}}/addview">Create new view</a>
</div>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li class="dropdowntitle">My views</li>
    <li role="presentation" ng-repeat="view in object.views"><a role="menuitem" tabindex="-1" href="#/app/{{object.name}}/{{view.name}}">{{view.label}}</a></li>

    <li class='dropdowntitle'>Team views</li>
    <li role="presentation" ng-repeat="view in object.views"><a role="menuitem" tabindex="-1" href="#/app/{{object.name}}/{{view.name}}">{{view.label}}</a></li>
  </ul>

  <div style="clear:both;"></div>
</div>

<div class="listtoolbar text-center">
    <a href="#/app/{{object.name}}/addnew" class="btn btn-default btn-sm">New {{object.label}}</a>
</div>

<table class="table table-striped table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th style="width:20px;"><input type="checkbox" /></th>
            <th style="width:70px;">Action</th>
            <th ng-repeat="column in view.columns">{{column}}</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
        <td><input type="checkbox" /></td>
        <td><a href="#">edit</a> | <a href="#">del</a></td>
        <td ng-repeat="value in item.values" class="data"><a href="#/app/{{object.name}}/detail/{{item.id}}">{{ value }}</a></td>
    </tr>
    </tbody>
</table>
