<ul class="nav nav-sidebar">
    <li class="active background-secondary"><a href="#">{{object.name}} {{'links'}}</a></li>
    <li ng-repeat="navitem in leftnavitems"><a href="#{{navitem.link}}">{{navitem.name}}</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li class="active background-secondary"><a href="#">{{object.pluralname}} {{'overzicht'|lng|tc}} <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li class="active background-secondary"><a href="#">{{'global links'|lng|tc}}</a></li>
    <li><a href="">Nav item again</a></li>
</ul>

<div class="systeminfo">
    <a href="#{{apppath}}/settings"><strong>{{app.label}}</strong></a> is a TeamView app in the
    <a href="#{{apppath}}/settings/org"><strong>{{org.label}}</strong></a> organisation.
</div>

test: {{leftsidebar.test}}

<ul class="nav nav-sidebar" ng-repeat="contextlink in contextlinks">
    <li class="active background-secondary"><a href="{{contextlink.toplink.url}}">{{contextlink.toplink.label}}</a>
    <li ng-repeat="sublink in contextlink.sublinks"><a href="{{sublink.url}}">{{sublink.label}}</a>
</ul>
