<h2>User account</h2>
<div class="panel panel-default">
<div class="panel-heading">User info</div>
<div class="panel-content"><form>
    <fieldset>

        <label>
            <span>Name:</span>
            <input type="text" name="name" ng-model="profile.name"/>
        </label>

        <label>
            <span>Email:</span>
            <br />{{profile.email}}
        </label>
    </fieldset>
</form>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Change Password</div>
<div class="panel-content"><form>
    <fieldset>

        <label>
            <span>Old Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="oldpass"/>
        </label>

        <label>
            <span>New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="newpass"/>
        </label>

        <label>
            <span>Confirm New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="confirm"/>
        </label>

        <button class="btn btn-default" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Test</div>
<div class="panel-content">Change Email<form>
    <fieldset>

        <label>
            <span>New Email:</span>
            <input type="text" ng-keypress="clear()" ng-model="newEmail"/>
        </label>

        <label>
            <span>Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="pass"/>
        </label>

        <button class="btn btn-default" ng-click="changeEmail(pass, newEmail)">update email</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>
        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
    </fieldset>
</form>

<button class="btn btn-default" ng-click="logout()">Log Out</button>
</div>
</div>
