<h2>Welcome</h2>

<!--
  <ul class="menu">
    <li><a href="#/home">home</a></li>
    <li><a href="#/chat">chat</a></li>
    <li ng-hide-auth><a href="#/login">login</a></li>
    <li ng-show-auth><a href="#/user/account">my account</a></li>
  </ul>
  -->

<p class="status good" ng-show-auth>Hello! You are logged in with id {{user.uid}}.</p>
<p class="status" ng-hide-auth>Welcome. You are not <a href="#/login">logged in</a></p>

FB-Synced value test: <input ng-model="syncedValue.$value" type="text" ng-change="syncedValue.$save()" /> <b>{{syncedValue.$value}}</b>

<div ng-show-auth>
<a href="#settings/widgets/addnew" class="btn btn-default btn-sm pull-right">+ {{'new'|lng|tc}} {{'widget'|lng|tc}}</a>
<h2>{{appname}} {{'dashboard'|lng|tc}}</h2>

<div ng-repeat="widget in widgets" class="col-md-4">
    <div class="widget">
    <a href="#{{widget.link}}">
        <h3>{{widget.label}}</h3>
        <div class="bignumber severity-{{widget.severity}}">{{widget.value}}</div>
    </a>
    </div>
</div>
</div>
