
<!DOCTYPE html>
<html lang="en" ng-app="TeamViewApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} TeamView - organize everything</title>
    <link rel="icon" href="img/favicon.ico">

  <script src="lib/js/jquery.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>

  <script src="lib/js/angular.js"></script>
  <script src="lib/js/firebase.js"></script>
  <script src="lib/js/angularfire.min.js"></script>
  <script src="lib/js/angular-route.min.js"></script>
  <script src="lib/js/firebase-simple-login.js"></script>

  <script src='js/inputdata.js'></script>

  <script src='js/data.js'></script>
  <script src='js/core.js'></script>

  <script src='teamview/teamview.js'></script>
  <script src='teamview/filters.js'></script>
  <script src='teamview/config.js'></script>
  <script src='teamview/directives.js'></script>
  <script src='teamview/services.js'></script>
  <script src='teamview/decorators.js'></script>
  <script src='teamview/routes.js'></script>
  <script src="teamview/firebase.utils.js"></script>
  <script src="teamview/simpleLogin.js"></script>
  <script src="teamview/changeEmail.js"></script>

  <script src='teamview/commonControllers.js'></script>
  <script src='teamview/home/homeControllers.js'></script>
  <script src='teamview/app/appControllers.js'></script>
  <script src='teamview/settings/settingsControllers.js'></script>
  <script src='teamview/reports/reportsControllers.js'></script>
  <script src='teamview/user/userControllers.js'></script>

  <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top background-primary" ng-controller="TVAppNavCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">

            <span class="appname">{{ appname }}</span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li ng-repeat="object in navobjects | limitTo : 4" >
              <a href="#/app/{{object.name}}">
                <span class="glyphicon glyphicon-{{object.icon}}"></span>
                {{object.plurallabel | uppercase}}
              </a>
            </li>
             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'more...'|lng|tc}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="object in navobjects | limitTo : -(navobjects.length - 4)" ><a href="#/app/{{object.name}}">{{object.plurallabel | uppercase}}</a></li>
          </ul>
        </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#reports"><span class="glyphicon glyphicon-stats"> {{'reports'|lng|tc}}</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'settings'|lng|tc}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/user">Wouter Smet</a></li>
            <li class="divider"></li>
            <li><a href="#/settings">{{'app settings'|lng|tc}}</a></li>
            <li><a href="#/settings">{{'my account'|lng|tc}}</a></li>
            <li class="divider"></li>
            <li><a href="#/">{{'switch to app'|lng|tc}}: CRM</a></li>
            <li><a href="#/">{{'switch to app'|lng|tc}}: Accounting</a></li>
            <li class="divider"></li>
            <li><a href="#logout">{{'log out'|lng|tc}}</a></li>
          </ul>
        </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="{{'search'|lng|tc}}...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-include src="'teamview/settings/settings_leftsidebar.html'">
          Loading sidebar...
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div>
            <div ng-view="">

            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
