<ul class="nav nav-pills">
    <li role="presentation"><a href="#ObjectList">Objects list</a></li>
    <li role="presentation" class="active"><a href="#AddNew">+ Add new</a></li>
</ul>

<h2>Add new object</h2>
{{ message }}

<form>

<h3>Settings</h3>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Singular label</th>
            <td><input class="form-control" type="text" name="label" value="" placeholder="e.g. client project" /></td>
        </tr>
        <tr>
            <th>Plural label</th>
            <td><input class="form-control" type="text" name="label_plural" value="" placeholder="e.g. client projects" /></td>
        </tr>
        <tr>
            <th>Starts with vowel?</th>
            <td><input class="form-control" type="checkbox" name="startswithvowel" value="" placeholder="e.g. client_project" /></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input class="form-control" type="text" name="name" value="" placeholder="name" /></td>
        </tr>
    </tbody>
</table>

<h3>Fields</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Field label</th>
            <th></th>
    </thead>
    <tbody>
        <tr>
            <td>
                <select class="form-control">
                    <option ng-repeat="fieldtype in fieldtypes" value="{{fieldtype.name}}">{{fieldtype.label}}</option>
                </select>
            </td>
            <td>
                <input class="form-control" type="text" name="label" value="" placeholder="label" />
            </td>
            <td>
                <input class="form-control" type="text" name="name" value="" placeholder="name" />
            </td>
        </tr>
    </tbody>
</table>

</form>
