  /* GLOBAL */
  header {background-color:#ddd;}

  footer {background-color:#eee;}
  #sidebar{background-color:#fafafa;border:1px solid #aaa;border-radius:5px;cursor:default !important;}

  /* OVERVIEW PAGES */

  .listedgame {background:#ddd;padding:5px;margin:10px;}
  .listedmap {padding:10px;background-color:#ddd;margin-bottom:10px;margin-right:10px;float:left;}

  /* IN-GAME: GRID */
  #gridcontainer {border:5px solid #231;float:left;position:relative;}
  #grid {user-select: none;}
  .grid td {height:28px;width:28px;border:1px solid #114422;background-color:#446633;}
  .grid td img {z-index:20;}
  img.user-unit {cursor:pointer;}

  /* IN-GAME: PLAYERS */
  .playercontainer {padding:5px;margin:0 5px;float:left;border-radius:5px;display:none;}
  #players {color:white;background-color:#555;}
  .player {}
  .inviteplayer,.joinasplayer {display:none;}
  .online,.offline {display:block;text-decoration:none;background:black;padding:2px;}
  .player-active {font-weight:bold;border:2px solid #555;text-decoration:underline;}
  #playercontainer-b {background-color:#4455aa;}
  #playercontainer-r {background-color:#aa5555;}
  #playercontainer-g {background-color:#66aa88;}
  #playercontainer-y {background-color:#66aaaa;}

  /* IN GAME: UNIT DETAIL */;
  .unitdetailscontainer {float:left;}
  .shop {float:left;}
  .activeunit-graphic {float:left;}
  #activeunit-name-header {padding:0;margin:0 0 5px 5px;}
  #activeunitcontainer {border:15px solid #ddd;padding:10px;background:black;}
  .shop {display:none;}
  a.shopunit {display:block;float:left;margin:5px;background-color:#aaa;color:black;padding:5px;border-radius:5px;}

  /* IN-GAME: EFFECTS */
   #circle-speed-1, #circle-range-1 {width:90px;}
   #circle-speed-2, #circle-range-2 {width:150px;}
   #circle-speed-3, #circle-range-3 {width:210px;}
  .unitcircle {position:absolute;display:none;opacity:0.3;user-select:none;}
  .explosion {position:absolute;height:50px;z-index:500;}
