  header {
    background-color:#ddd;
  }

  .listedgame {
    background:#ddd;
    padding:5px;
  }

  #players {
    color:white;
    background-color:#555;
  }

  .listedmap {
    padding:10px;
    background-color:#ddd;
    margin-bottom:10px;
    margin-right:10px;
    float:left;
  }

  .shop {
    display:none;
  }

  a.shopunit {
    display:block;
    float:left;
    margin:5px;
    background-color:#ddd;
  }

  .unitcircle {
    position:absolute;
    display:none;
    opacity:0.3;
  }

   #circle-speed-1, #circle-range-1 {width:90px;}
   #circle-speed-2, #circle-range-2 {width:150px;}
   #circle-speed-3, #circle-range-3 {width:210px;}

  .playercontainer {
    padding:5px;
    margin:0 5px;
    float:left;
    border-radius:5px;
  }

  .player {
     display:none;
  }

  .online,.offline {display:block;text-decoration:none;background:black;padding:2px;}

  .inviteplayer {
    display:none;
  }

  .player-active {
    font-weight:bold;
    border:2px solid #555;
    text-decoration:underline;
  }

  #playercontainer-b {background-color:#4455aa;}
  #playercontainer-r {background-color:#aa5555;}
  #playercontainer-g {background-color:#66aa88;}
  #playercontainer-y {background-color:#66aaaa;}

  #activeunitcontainer {
      border:15px solid #ddd;
      padding:10px;
      background:black;
  }

  img.user-unit {cursor:pointer;}

  #gridcontainer {
    border:15px solid #231;
    float:left;
    position:relative;
  }

  .explosion {
    position:absolute;
    height:50px;
    z-index:500;
  }

  #grid {
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .grid td {
    height:28px;
    width:28px;
    border:1px solid #114422;
    background-color:#446633;
  }

  .grid td img {
    z-index:20;
  }

  .usership {
    /*height:30px;*/
    padding:3px;
    border-radius:5px;
    /*width:20px;*/
    position:absolute;
    background-color:red;
  }

  /*#container {cursor:none;}*/

  #sidebar{background-color:#fafafa;border:1px solid #aaa;border-radius:5px;cursor:default !important;}
