/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* because angular-ui bootstrap at http://angular-ui.github.io/bootstrap/ tells us to do this */
.dropdown-toggle,.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*
* default bootstrap corrections
 */
.panel-heading {padding:3px 10px;}
.nav-sidebar li.active a {padding:3px 10px;cursor:default;}
label {font-weight:normal;}
.glyphicon {opacity:0.4;}
.table {margin-bottom:0;}

.content-container {background:#fafafa;padding:20px;}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-inverse {
  background:#555;
}

.navbar-inverse ul.nav li a{color:#f2f2f2;opacity:;}
.navbar-inverse li.activenav {box-shadow:inset #777 0 -5px 00;}
.navbar-inverse .navbar-brand .appname {color:#000;opacity:0.4;}
.navbar-inverse ul.dropdown-menu li a {color:#555;}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.navbar-brand {
  padding:0 10px 0 40px;
  position:relative;
  background-image: url(/teamview/img/logo.png);
  background-repeat:no-repeat;
  background-size:30px;
  background-position:10px 10px;
}

.navbar-brand img {float:left;height:40px;margin-top:5px;display:inline;}
.navbar-brand .appname {float:left;padding-top:15px;padding-left:10px;}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    /*padding-right: 40px; padding-left: 40px; */
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
* wouter custom stuff
 */

.widget {
  border:1px solid #ddd;
  background:#fafafa;
  border-radius:10px;
  min-height:200px;
  text-align:center;
  margin-bottom:30px;
}

.widget a {text-decoration:none;}

.widget .severity-low {color:#8d8;}
.widget .severity-medium {color:#fa5;}
.widget .severity-high {color:#f55;}

.bignumber {
  font-size:100px;
  font-weight:bold;
  color:#aaa;
}

.notif-counter {
opacity:0.9;
font-size: 9px;
border-radius: 7px;
height: 15px;
background: red;
color: white;
width: 15px;
position: absolute;
right: 1px;
bottom: 12px;
line-height: 15px;
text-align:center;
}

/*
* APP: ITEM DETAIL
 */

.objecttitle {color:#aaa;}
h2 {margin-top:2px;}
h2 {color:#444;}
.detailpane {background:white;}

.inline {display:inline;width:auto;}

.listtoolbar {background:#fafafa;padding:10px;}
.table thead {background:#eee;}
.table thead tr th {border-bottom:1px solid #999; padding:3px;}

td.data a {color:#333;text-decoration:underline;}

.viewlinks {padding-left:20px;padding-top:10px;}
.dropdowntitle{color:#aaa;font-size:90%;padding:3px;}

.colortheme {background:#fafafa;display:block;margin:15px;}
.themecolor {height:30px;border-radius:3px;margin:5px;border:1px solid black;float:left;padding:5px;color:white;}

.systeminfo {
  color:#aaa;
  background:#eee;
  padding:5px;
  font-size:90%;
}

/*
* APP: SOCIAL FEED;
 */
.socialfeed {padding:3px;}
.socialfeed a.feed-viewtoggle {cursor:pointer;text-decoration:none;}

.socialfeed .feed-update {background:white;margin-bottom:5px;padding:5px;width:100%;border:1px solid #eee;}
.socialfeed .feed-avatar-image {width:8%; float:left;}
.socialfeed .feed-update-content-container {float:left;padding:0px 5px;width:90%;}
.socialfeed .feed-update-actions {font-size:90%;color:#999;}
.socialfeed .feed-update-actions li {display:inline;padding:0;}
.socialfeed .feed-update-actions ul {padding:0;}

.socialfeed .feed-comment {background:#fafafa;border:1px solid #ddd;border-radius:3px;padding:5px;margin-bottom:5px;width:100%;}
.socialfeed .feed-comment-avatar {float:left;}
.socialfeed .feed-avatar-comment-image {height:20px;}
.socialfeed .feed-comment-content-container {padding:0 10px; float:left;}

/*
* SETTINGS
 */
ul.settings-objectlist li {display:inline; list-style:none;margin:3px;padding:3px;border-radius:2px;background-color:#fafafa;border:1px solid #ddd;}
div.appsummary {margin:10px;}
