<div class="objecttitle">{{'System Settings'|lng|tc}}</div>
<h2><icon s="wrench"></icon></span> Manage apps</h2>

<div class="content-container">

<div class="panel panel-default appsummary" ng-repeat="app in apps">
                <div class="panel-heading" style="background:{{app.appcolors.primary}}">
                    <a href="#{{orgpath}}/settings/apps/{{app.name}}" style="color:white;">{{app.label}}</a><br /></div>
                <div class="panel-contents" style="padding:10px;">
                    <p>{{app.description}}</p>
                    <ul>
                        <li>Created: Oct 15th, 2014
                        </li>
                        <li>Objects:
                            <ul class="settings-objectlist">
                                <li ng-repeat="objectname in app.objects" style="background:{{app.appcolors.secondary}};color:white;">
                                    {{objectname}}
                                </li>
                            </ul>
                        </li>
                        </ul>
                </div>
        </div>

</div>
