<h2>
    <span class="glyphicon glyphicon-user"></span>
    {{'my profile'|lng|tc}}
</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        Details
    </div>
    <div class="panel-contents">
        <table class="table table-bordered">
            <tr>
                <th>Name</th><td>John Doe</td>
            </tr>
            <tr>
                <th>email</th><td>johndoe@gmail.com</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        {{org.label}} apps I use
    </div>
    <div class="panel-contents">
        <table class="table table-bordered">
            <tr ng-repeat="app in org.apps">
                <th>{{app.label}}</th>
                <td>
                    <a href="#">Log in</a> |
                    <a href="#">Manage</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix text-center">
        <span class="pull-left">Organisations</span>
        <button class="btn btn-default btn-xs" ng-click="open()">Create New Organisation</button>
    </div>
    <div class="panel-contents">
        <table class="table table-bordered">
            <tr ng-repeat="org in orgs">
                <th>{{org.label}}</th>
                <td>
                    <a href="#/{{org.name}}/home">Log in</a> |
                    <a href="#/{{org.name}}/settings/org">Manage</a>
                </td>
            </tr>
        </table>
    </div>
</div>
