<h2>Manage app: {{app.label}}</h2>

<table class="table table-bordered">
    <tr>
        <th>App name</th><td><strong>{{app.label}}</strong> (API name: {{app.name}})</td>
    </tr>
    <tr>
        <th>Date created</th><td>2015-02-02</td>
    </tr>
    <tr>
        <th>Color scheme</th><td>English</td>
    </tr>
</table>

<form>
<table class="table">
  <tr><td>{{'app name'|lng|tc}}</td><td><input class="form-control" type="text" name="appname" value="{{app.appname}}" /></td>
  <tr><td>{{'app language'|lng|tc}}</td><td>
  <select class="form-control" name="applanguage">
    <option value="en">English</option>
    <option value="nl">Nederlands</option>
  </select>
  </td>
  </tr>
  <tr>
    <td>{{'app colors'|lng|tc}}</td>
    <td>
      <div style="height:300px;overflow:auto;">
        <label class="colortheme clearfix" ng-repeat="colortheme in colorthemes">
          <input type="radio" name="appcolors" value="{{colortheme.themename}}" />
          {{colortheme.themename}}
          <div class="themecolors clearfix pull-right">
            <div class="themecolor" style="background:{{colortheme.primary}}">{{'primary'|lng}}</div>
            <div class="themecolor" style="background:{{colortheme.secondary}}">{{'secondary'|lng}}</div>
            <div class="themecolor" style="color:{{colortheme.links}};background:white;">{{'links'|lng}}</div>
          </div>
        </label>
        <label class="colortheme clearfix">
          <input type="radio" name="appcolors" value="customtheme" />
          Custom
          <div class="themecolors clearfix pull-right">
            <div class="themecolor" style="background:#555">{{'primary'|lng}}<input size="1" type="text" class="colorpic" /></div>
            <div class="themecolor" style="background:#777">{{'secondary'|lng}}<input size="1" type="text" class="colorpic" /></div>
            <div class="themecolor" style="color:#999;background:white;">{{'links'|lng}}<input size="1" type="text" class="colorpic" /></div>
          </div>
        </label>
      </div>
    </td>
  </tr>
  <tr>
    <td>App objects</td>
    <td>
      <div class="pull-left" style="border:3px solid #aaa;margin-right:10px;padding:10px;">
      Org available objects:<br>
      <select name="test" multiple id="availableobjects" style="width:150px;height:200px;">
        <option ng-repeat="object in app.objects">{{object.label}}</option>
      </select>
      </div>
      <div class="pull-left"  style="border:3px solid #aaa;margin-right:10px;padding:10px;margin-top:50px;">
        <button class="btn btn-default btn-sm" id="addobjectbtn">Add &rarr;</button><br />
        <button class="btn btn-default btn-sm" id="removeobjectbtn">&larr; Del</button>
      </div>
      <div class="pull-left"  style="border:3px solid #aaa;margin-right:10px;padding:10px;">
      Objects in app:<br>
      <select name="test" multiple id="appobjects"  style="width:150px;height:200px;">
        <option disabled>-- with tab --</option>
        <option ng-repeat="object in app.objects">{{object.label}}</option>
        <option disabled>-- without tab --</option>
        <option ng-repeat="object in app.objects">{{object.label}}</option>
      </select>
      </div>
      <div class="pull-left"  style="border:3px solid #aaa;margin-right:10px;padding:10px;margin-top:50px;">
        <button class="btn btn-default btn-sm" id="addobjectbtn"> &#9650; Up</button><br />
        <button class="btn btn-default btn-sm" id="removeobjectbtn"> &#9660; Down</button>
      </div>
    </td>
  </tr>

  <tr>
    <td>App users</td>
    <td>
      <div class="pull-left" style="border:3px solid #aaa;margin-right:10px;padding:10px;">
      Org available users:<br>
      <select name="test" multiple id="availableusers" style="width:150px;height:200px;">
        <option ng-repeat="object in app.users">{{object.label}}</option>
      </select>
      </div>
      <div class="pull-left"  style="border:3px solid #aaa;margin-right:10px;padding:10px;margin-top:50px;">
        <button class="btn btn-default btn-sm" id="addobjectbtn">Add &rarr;</button><br />
        <button class="btn btn-default btn-sm" id="removeobjectbtn">&larr; Del</button>
      </div>
      <div class="pull-left"  style="border:3px solid #aaa;margin-right:10px;padding:10px;">
      users in app:<br>
      <select name="test" multiple id="appusers"  style="width:150px;height:200px;">
        <option disabled>-- admin --</option>
        <option ng-repeat="user in app.users">{{user.label}}</option>
        <option disabled>-- regular --</option>
        <option ng-repeat="user in app.users">{{user.label}}</option>
        <option disabled>-- external --</option>
        <option ng-repeat="user in app.users">{{user.label}}</option>
      </select>
      </div>
      <div class="pull-left"  style="border:3px solid #aaa;margin-right:10px;padding:10px;margin-top:50px;">
        <button class="btn btn-default btn-sm" id="addobjectbtn"> &#9650; Up</button><br />
        <button class="btn btn-default btn-sm" id="removeobjectbtn"> &#9660; Down</button>
      </div>
    </td>
  </tr>

</table>
</form>
